
@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';/* for raleway,lora font*/
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'; /*Using ionicons by Ionic */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,700');




.heading{text-align: center;font-family: 'Quicksand', sans-serif;}
.img{align:middle;width:600px;height:600px;position:absolute;margin-left:25em;}
.image{align:center;position:absolute;}



.subset1
{
  position:absolute;
  top: -90px;
  left: 25px;
  z-index: 5;
}
.subset2
{
  position:absolute;
  top: -85px;
  right: 10px;
  z-index: 5;
}
.subset3
{
  position:absolute;
  top: -70px;
  left: 30px;

  z-index: 5;
}
.trr{align:center;  position:absolute;
  top: 10px;
  left: 10px;
  z-index: 1;position:absolute;align:middle;width:600px;height:600px;position:absolute;margin-left: 13em;}
